/*Star*/
*{
  border: 1px solid lightgrey;
}
/*Descendent*/
li a {
  color: red;
}

/*adjacent*/
h4 + ul{
  border:4px red solid;
}

input[type="checkbox"]{
  background: blue;
}

/*Nth order */
li:nth-of-type(3) {
  background: purple;
}
