<% include partials/header %>

<h1> You fell in love with  <%= thingVar %> </h1>
<% if(thingVar.toLowerCase() === 'rusty'){ %>
  <p> Good choice! RUSTY IS THE BEST </p>
<% } else { %>
 <p> Reached a bad page</p>

<% } %>
<p> This is the love.ejs file </p>


  <% include partials/footer %>
