<% include partials/header %>

  <h1> Hosts Page </h1>

  <% for(var i=0; i<post.length;i++) { %>

    <li>
      <%= post[i].title %> - <strong>  <%= post[i].author %> </strong></li>
    <% }  %>
      <% post.forEach(function(post){ %>
        <li>
          <%= post.title %> - <strong>  <%= post.author %> </strong></li>
        <% })  %>

<% include partials/footer %>
